#frame_container,
.submit_answer,
.block,
#required_span,
.answer_choice,
.answer_choice.deselected { opacity: 1 !important; }

#logo { margin: 0 auto; }

#frame_container { margin-top: 70px; }

#frame_left { background-position: 0px 0px; }
#frame_right { background-position: -20px 0; }
#footer {bottom: 0;}

#logo { display: block; }
.over_grunge { display: none; }


.take_the_quiz { clear: both; }

.question_number h2,
.grade_text,
#questions_right {
	text-shadow: none;
	filter: none;
	}

#feeds { background: transparent;}
#feed_wrapper { background: transparent; height: 100%; }
.feed_container { height: 100%; background: transparent;}

.question_content { font-size: 16px !important; }

.answers { margin-top: 10px !important; }

.answer_choice { margin-bottom: 0; }

.answered_correctly, .answered_incorrectly { bottom: 28px; }

.response_text { width: 635px; }

#grade_container h2.red { font-size: 16px; } 

#questions_right { display: block !important; }

.bad_promo { visibility: hidden; }
