*:focus {outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;}

.cfx {
	display: block;
	min-width: 1px;
	}

.cfx::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}

body {
	background-image: url('/assets/bg.jpg');
	background-color: #f6c348;
	background-repeat: repeat-x;
	}

a {
	text-decoration: none !important;
	}

#frame_container {
	position: relative;
	margin: -900px auto 0;
	width: 852px;
	height: 779px;
	opacity: 0;
	}

#frame_left {
	position:absolute;
	top: 0; left: -166px;
	width: 180px;
	height: 779px;
	background-image: url('/assets/frame_left.png');
	background-repeat: no-repeat;
	background-position: 185px 0;
	z-index: 100;
	}

#frame_center {
	position: relative;
	width: 852px;
	height: 100%;
	background-image: url('/assets/frame.png');
	background-repeat: no-repeat;
	z-index: 500;
	}

#frame_right {
	position: absolute;
	top: 0; right: -184px;
	width: 190px;
	height: 779px;
	background-image: url('/assets/frame_right.png');
	background-repeat: no-repeat;
	background-position: -200px 0;
	z-index: 100;
	}

#content {
	position: absolute;
	top: 115px; left: 66px;
	width: 726px;
	height: 462px;
	overflow: hidden;
	}

#footer {
	position: fixed;
	bottom: -300px;
	width: 100%;
	height: 79px;
	margin: 0 auto;
	padding: 0;
	background-image: url('/assets/hills.png');
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
	}

#logo { 
	display: none;
	position: relative;
	width: 170px;
	height: 87px;
	top: -72px;
	}

/* FONTS */
.red { color: #BA0F39; }
.black { color: #231F20; }

.bevan { font-family: 'Bevan', serif; }
.arvo { font-family: 'Arvo', serif; }
.copse { font-family: 'Copse', serif; }


/* BUTTONS */

.btn {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 195px;
	height: 60px;
	background-image: url('/assets/buttons.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	}

.get_started { background-position: 0 0; }

.get_started:hover { background-position: 0 -100px; }

.take_the_quiz {
	width: 235px;
	height: 70px;
	background-position: -1355px 0; 
	}

.take_the_quiz:hover { background-position: -1355px -100px; }

.retake_quiz { background-position: -1132px 0; }
.retake_quiz:hover { background-position: -1132px -100px; }

.continue { background-position: -683px 0; }
.continue:hover { background-position: -683px -100px; }

.submit_answer {
	opacity: 0;
	margin: 0;
	background-position: -460px 0;
	}

.submit_answer:hover { background-position: -460px -100px; }

.next_question { margin: 0; background-position: -231px 0; }
.next_question:hover { background-position: -231px -100px; }

.did_i_win { background-position: -910px 0; }
.did_i_win:hover { background-position: -910px -100px; }

/* FORMS */

#content form {
	margin: 0 auto;
	width: 585px;
	}

.selectBox-dropdown,
#content select,
#content input {
	width: 250px !important;
	height: 24px;
	padding: 2px 10px;
	margin: 0 15px 0 0;
	background: #fcbc53;
	border: 3px solid #FFF;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	line-height: 24px;
	font-size: 16px;
	color: #231F20;
	font-family: 'Copse', serif;
	}

#submission_email { margin: 0 22px 0 8px !important; }

::-webkit-input-placeholder {
	font-size: 16px;
	color: #231F20;
	font-family: 'Copse', serif;
	}

:-moz-placeholder {
	font-size: 16px;
	color: #231F20;
	font-family: 'Copse', serif;
	}

.placeholder {
	font-size: 16px;
	color: #231F20;
	font-family: 'Copse', serif;
	}

#content input.error,
.selectBox-dropdown.error,
textarea.error { border: 3px solid #ba0f39; }

.selectBox-dropdown.error .selectBox-arrow { border-color: #ba0f39;}

#content input.right { margin: 0; }

.form_row { margin: 20px 0; }

.selectBox-dropdown { margin: 0; }

.selectBox-options li a {
	font-size: 16px;
	color: #231F20;
	font-family: 'Copse', serif;
	}

textarea {
	width: 568px;
	height: 90px;
	margin: 15px auto 0;
	padding: 10px;
	background-color: transparent;
	border: 3px solid #FFF;
	line-height: 24px;
	font-size: 16px;
	color: #231F20;
	font-family: 'Copse', serif;
	}

/* PAGES */

.over_grunge {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 60%;
	background-image: url('/assets/over_question.png');
	}

h2 { font-size: 16px; font-weight: bold; }
h2.huge { font-size: 25px; }
h3{ font-size: 14px; font-weight: bold; }
p { font-size: 12px; font-weight: bold; margin: 0; }

.block {
	opacity: 0;
	width: 100%;
	height: 100%;
	}

#homepage { text-align: center; }

#homepage .the_mountain_america {
	position: relative;
	margin: 0 auto;
	width: 379px;
	height: 35px;
	background-image: url('/assets/the_mountain_america.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	}

#homepage .retirement {
	position: relative;
	margin: 0 auto;
	width: 532px;
	height: 70px;
	background-image: url('/assets/retirement.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	}

#homepage .quiz {
	position: relative;
	margin: 0 auto;
	width: 423px;
	height: 149px;
	background-image: url('/assets/quiz.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
	}

#homepage .get_started { margin: 25px auto 0; }

#homepage h2 { font-size: 20px; }
#homepage h3 { font-size: 14px; }
#homepage p { font-size: 12px; }

#information {
	padding: 50px 0 0 0;
	text-align: center;
	}

#information_form { margin: 20px 0 0 0; }

#required_span { opacity: 0; font-size: 14px; margin: 15px 0 0 0; }

#feeds {
	width: 100%;
	height: 120px;
	margin: 15px 0 0 0;
	border-top: 3px solid #ba0f39;
	border-bottom: 3px solid #ba0f39;
	}

#feed_wrapper { width: 558px !important; margin: 0 auto; }

.feed_container { display: none; width: 558px !important; }

#feeds h3 { margin: 29px 0 10px 0; }

/* QUESTION PAGE */

.question_container { position: relative; }

.question_container .btn {
	position: absolute;
	bottom: 25px;	
	}

.question_number {
	position: relative;
	width: 462px;
	height: 60px;
	margin: 20px 0 0 0;
	}

.question_number h2 {
	margin: 0;
	color: black;
	font-weight: bold;
	font-size: 44px;
	text-shadow: 5px 4px 0px #FFF;
	filter: dropshadow(color=#FFF, offx=2, offy=2);
	}

.question_number h2 span { font-size: 75px; }

.question_number .over_grunge {
	position: absolute;
	top: 0; left: 0;
	width: 462px;
	height: 60px;
	background-image: url('/assets/over_question.png');
	}

.question_content { font-size: 18px !important; line-height: 27px; }

.answers { position: relative; height: 260px; margin: 35px 0 0 39px; }

.answer_choice {
	position: relative;
	float: left;
	width: 635px;
	margin: 0 0 15px 0;
	font-size: 20px;
	opacity: 0;
	}

.answer_choice.a { margin-left: 300px; }
.answer_choice.b { margin-left: 350px; }
.answer_choice.c { margin-left: 400px; }
.answer_choice.d { margin-left: 450px; }

.answer_choice.deselected { opacity: .5 !important; }

.answer_choice p {
	float: left;
	font-size: 16px;
	}

.answer_index {
	width: 45px;
	height: 45px;
	margin: 0;
	color: white;
	font-size: 16px;
	font-weight: bold;
	background-image: url('/assets/answers_sprites.png');
	background-position: -47px -20px;
	background-repeat: no-repeat;
	}

.answer_index.a { background-position: -47px -20px; }
.answer_choice:hover .answer_index.a { background-position: -47px -68px; }

.answer_choice:active .answer_index.a,
.answer_choice.selected .answer_index.a { background-position: -47px -119px; }

.answer_index.b { background-position: -97px -20px; }
.answer_choice:hover .answer_index.b { background-position: -97px -68px; }

.answer_choice:active .answer_index.b,
.answer_choice.selected .answer_index.b { background-position: -97px -119px; }

.answer_index.c { background-position: -147px -20px; }
.answer_choice:hover .answer_index.c { background-position: -147px -68px; }

.answer_choice:active .answer_index.c,
.answer_choice.selected .answer_index.c { background-position: -147px -119px; }

.answer_index.d { background-position: -194px -20px; }
.answer_choice:hover .answer_index.d { background-position: -194px -68px; }

.answer_choice:active .answer_index.d,
.answer_choice.selected .answer_index.d { background-position: -194px -119px; }

.answer_text {
	width: 570px;
	font-size: 16px;
	line-height: 25px;
	font-weight: normal;
	}

.response_text {
	display: none;
	padding: 50px 0 0 54px;
	font-size: 13px !important;
	}

.answered_correctly, 
.answered_incorrectly {
	position: absolute;
	bottom: 32px; left: 205px;
	font-size: 21px;
	}

/* Answer Marks */

.mark {
	position: absolute;
	top: -8px; left: -10px;
	width: 50px;
	height: 45px;
	background-image: url('/assets/answers_sprites.png');
	}

.mark.ex { background-position: -240px -19px; }

.mark.circle { background-position: -240px -73px; }

.mark.check { background-position: -240px -128px; }



#grade_section {
	text-align: center;
	}

#grade_container { position: relative; }

.grade_text {
	font-size: 69px;
	font-weight: bold;
	line-height: 75px;
	text-transform: uppercase;
	text-shadow: 6px 7px 0px #FFF;
	filter: dropshadow(color=#FFF, offx=2, offy=2);
	}

#grade_amount { font-size: 93px; }

#questions_right { font-size: 45px; }

#grade_container h2 { font-size: 21px; text-transform: uppercase; }

#grade_container h2.red { font-size: 18px; }

#grade_letter { font-size: 30px; }

#grade_section .second_line { margin: 0 0 15px 0; }

.buttons { width: 415px; height: 70px; margin: 20px auto 0; }

.buttons a { float: left; }

.buttons .retake_quiz { margin: 0 25px 0 0; }

.bad_promo { margin: 20px 0 0 0; }

#promo_container { padding: 50px 0 0 0; text-align: center; }

#promo_container input {
	width: 175px !important;
	height: 45px;
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	}

#promo_container .h2 { font-size: 19px; }

#promo_code { font-weight: normal; }

.congratulations_text {
	position: relative;
	margin: 0 auto;
	width: 730px;
	height: 87px;
	text-indent: -9999px;
	background-image: url('/assets/congratulations.png');
	background-repeat: no-repeat;
	}

.enter_prize_code {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 43px;
	text-indent: -9999px;
	background-image: url('/assets/enter_prize_code.png');
	background-repeat: no-repeat;
	}

.find_out {
	position: relative;
	margin: 0 auto;
	width: 741px;
	height: 66px;
	text-indent: -9999px;
	background-image: url('/assets/find_out.png');
	background-repeat: no-repeat;
	}

.tell_us {
	position: relative;
	margin: 0 auto;
	width: 387px;
	height: 50px;
	text-indent: -9999px;
	background-image: url('/assets/tell_us_whats_on_your.png');
	background-repeat: no-repeat;
	}

.retirement_bucket_list {
	position: relative;
	margin: 0 auto;
	width: 739px;
	height: 81px;
	text-indent: -9999px;
	background-image: url('/assets/retirement_bucket_list.png');
	background-repeat: no-repeat;
	}

#prize_container { padding: 50px 0 0 0; text-align: center; }

#bucket_list { text-align: center; }

.grade_replacement3 a { display: block; }
